<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 기능</title>
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        IMP.init("imp36756558");

        function requestPay() {
            IMP.request_pay(
                {
                    pg: "kakaopay",
                    pay_method: "card",
                    merchant_uid: '123_12231333', // 주문 고유 번호
                    name: "노르웨이 회전 의자",
                    amount: 64900,
                    buyer_email: "gildong@gmail.com",
                    buyer_name: "홍길동",
                    buyer_tel: "010-4242-4242",
                    buyer_addr: "서울특별시 강남구 신사동",
                    buyer_postcode: "01181",
                }, function(res) {
                    if (res.success) {
                        axios({
                            method: "post",
                            url: `/portone-webhook`,
                            data: {
                                imp_uid: res.imp_uid,
                                merchant_uid: res.merchant_uid,
                                status: "paid"
                            }
                        }).then(function(res) {
                                // 서버로부터의 응답 처리
                                console.log("Payment success!");
                                console.log("Payment ID : " + res.imp_uid);
                                console.log("Order ID : " + res.merchant_uid);
                                console.log("Payment Amount : " + res.amount);
                            })
                            .catch(function(error) {
                                // 오류 처리
                                console.error(error);
                            });
                    } else {
                        console.error(res.error_msg);
                    }
                }
            );
        }
    </script>
</head>
<body>
    <button onclick="requestPay()">카카오페이 결제하기</button>
</body>
</html>